.nav-header {
    display: flex;
    justify-content: space-between;
    /* width: 95%; */
    margin: auto;
    height: 3rem;
    padding: 1.5rem;
    align-items: baseline;
    background-color: aliceblue;
}

.nav-header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: baseline;
}

.nav-header li {
    margin: 0 1rem;
}