.nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 1.5rem;
    align-items: baseline;
}

.nav-header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: baseline;
}

.nav-header li {
    margin: 0 1rem;
}